body {
    background-image: url('../img/windows_xp_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.window {
    height: 200px;
    width: 400px;
    position: absolute;
}

#main-window {
    height: 50%;
    width: 50%;
    margin: auto;
}
