:root {
    --card-border-rad: 5px;
    --card-height: 225px;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
	position: absolute;
	padding: 0;
    margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    overflow: hidden;
    background-image: url('../img/windows_xp_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable {
    padding-left: 0;
    margin-left: 0;
    position: absolute;
    display: none;
}

.window {
    height: clamp(30vh, 600px, 90vh);
    width: clamp(40vw, 800px, 90vw);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.window-body {
	font-size: 15px;
    overflow-y: auto;
    flex: 1 1 100%
}

.title-bar {
	height: 40px;
}

.title-bar-text {
	padding-left: 7px;
	font-size: 22px;
}

#main-window {
    height: clamp(30vh, 80vh, 90vh);
    width: clamp(40vw, 80vw, 90vw);
}

.card {
    height: var(--card-height);
    border-radius: var(--card-border-rad);
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.card-title {
    display: inline-block;
    justify-content: space-between;
}

.card-body {
    padding-left: 20px;
}

.card-img {
    height: var(--card-height);
    border-radius: var(--card-border-rad);
    object-fit: cover;
    aspect-ratio: 1/1;
}
