.card {
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
}

.card-title {
    padding: 0;
    margin: 0;
}

.card-body {
    padding-left: 20px;
    font-size: 13px;
}

.card-img {
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 2px grey;
}
    
.card-text {
}
