.draggable {
    padding-left: 0;
    margin-left: 0;
    position: absolute;
    display: none;
}

.window {
    height: clamp(30vh, 500px, 90vh);
    width: clamp(40vw, 700px, 90vw);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.window-body {
    padding: 15px;
	font-size: 20px;
    font-weight: 300;
    overflow-y: auto;
    flex: 1 1 100%
}

.title-bar {
	height: 40px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title-bar-text {
	padding-left: 7px;
	font-size: 22px;
}

#main-window {
    height: clamp(30vh, 600px, 90vh);
    width: clamp(40vw, 800px, 90vw);
}
