---
title: Home
layout: default
---

<!--
TODO: Make 2 types of windows for each page.
One type is draggable, z-orderable, and dynamic.
They turn invisible when viewport width is that of a mobile device.

The other type is the same content, but on a slide=up menu that fills the width.
It displays content in a mobile friendly way, but auto-hides when viewport width is larger than mobile
-->

<!-- Main Window -->
<div id="main-window" class="window">
    <div class="title-bar">
        <div class="title-bar-text">Home</div>
    </div>
    <div class="window-body">
        <div class="centered">
            <h1 style="text-align: center">Hi, I'm Kyle</h1>
            <h4 style="text-align: center">Software Developer & Enthusiast</h4>
        </div>
        <div class="field-row" id="buttons">
            <button aria-label="projects">Projects</button>
            <button aria-label="about">About Me</button>
        </div>
    </div>
</div>

<!-- Projects Window -->
<div id="projects" class="draggable">
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Projects</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            {% include projects.html %}
        </div>
    </div>
</div>

<!-- About Window -->
<div id="about" class="draggable">
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">About Me</div>
            <div class="title-bar-controls">
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            {% include about.html %}
        </div>
    </div>
</div>
