<article role="tabpanel">
    <h3>Kyle Bueche</h3>
    <hr>
    <div class="row between">
        <div class="col">
            <h4>Tools</h4>
            <p>
                {% for tool in include.page.tools %}
                <span class="tag">{{ tool }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="col">
            <h4>Languages</h4>
            <p>
                {% for language in include.page.languages %}
                <span class="tag">{{ language }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    <br>
    <h4>Education</h4>
    <blockquote>
        <p>Bachelor of Science in Computer Science</p>
        <p class="text-sm grey">(Expected Graduation Spring 2026)</p>
    </blockquote>
    <h4>I like to...</h4>
    <ul>
        <li>Develop Software in a variety of languages</li>
        <li>Animate 3D Visual Effects with code</li>
        <li>Create Indie Games for game jams</li>
        <li>Design websites like this one!</li>
    </ul>
    <h4>Skills</h4>
    <ul>
        <li>Passionate about Computer Science and Algorithms</li>
        <li>Strong in Calculus, Linear Algebra, and Calculus-Based Statistics</li>
        <li>Good understanding of physical memory in C, and higher level languages</li>
		<li>Parallelism and SIMD in Particle Systems and Ray-Tracing</li>
        <li>Knowledge of Physically Based Rendering in Computer Graphics</li>
		<li>Independent Study of Optics and Realistic Light Behavior</li>
    </ul>
</article>
