<article role="tabpanel">
    <h3>Hi, I'm Kyle</h3>
    <br>
    <hr>
    <br>
    <p>I have a strong passion for Computer Science, I...</p>
    <ul>
        <li>Develop Software in C, JS, and more,</li>
        <li>Study Computer Science at UH Mānoa,</li>
        <li>Animate 3D Visual Effects with code,</li>
        <li>Create Games in my spare time, and</li>
        <li>Design websites like this one!</li>
    </ul>
    <br>
    </div>
    <h4>Education</h4>
    <blockquote>
        <p>Bachelor of Science in Computer Science</p>
        <p class="text-xs grey">(I graduate Spring 2026)</p>
    </blockquote>
    <div class="row">
        <div class="col">
            <h4>Tools</h4>
            <p>
                {% for tool in include.page.tools %}
                <span class="tag">{{ tool }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="col">
            <h4>Languages</h4>
            <p>
                {% for language in include.page.languages %}
                <span class="tag">{{ language }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</article>
