<article role="tabpanel">
    <h3>Hi, I'm Kyle</h3>
    <p>I have a strong passion for Computer Science and Mathematics.</p>
    <p>I enjoy solving complex problems efficiently through code.</p>
    <hr>
    <br>
    <h4>What I Do</h4>
    <ul>
        <li>Develop Software in C, JS, and more</li>
        <li>Study Computer Science at UH Mānoa</li>
        <li>Animate 3D Visual Effects with code</li>
        <li>Create Games in my spare time</li>
        <li>Design websites like this one!</li>
    </ul>
    <br>
    <h4>Education</h4>
    <blockquote>
        <p>Bachelor of Science in Computer Science</p>
        <p class="text-sm grey">(Expected Graduation Spring 2026)</p>
    </blockquote>
</article>
