<article role="tabpanel">
    <h4>Maya Animations</h4>
    <div class="row between flex-wrap">
        <iframe class="youtube" loading="lazy" src="https://www.youtube.com/embed/128Nzex6-NM?si=9c0jVcnW6Guetc7a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="youtube" loading="lazy" src="https://www.youtube.com/embed/eAH6sLl1HEg?si=tDjviZLF3ID379vY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <hr>
    <h4>Custom Renderer Animations</h4>
    <div class="row between flex-wrap">
        <iframe class="youtube" loading="lazy" src="https://www.youtube.com/embed/CiDQsPG01PQ?si=PlzUiMmcGYE33ZoX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="youtube" loading="lazy" src="https://www.youtube.com/embed/Ry8Xi5_Tn2M?si=fSdFhZH3AskH2pTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="youtube" loading="lazy" src="https://www.youtube.com/embed/0pz0nrHzEV4?si=f9SljXwsznZZmANg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</article>
