<article role="tabpanel">
    <h4>Maya Animations</h4>
    <div class="row between flex-wrap">
    {% for url in site.data.posts.maya-animations.urls %}
        <iframe class="youtube" loading="lazy" src="{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endfor %}
    </div>
    <br>
    <hr>
    <br>
    <h4>Custom Renderer Animations</h4>
    <div class="row between flex-wrap">
    {% for url in site.data.posts.custom-animations.urls %}
        <iframe class="youtube" loading="lazy" src="{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endfor %}
    </div>
</article>
