<div class="icon-buttons row center">
    <a class="icon-link" href="https://www.github.com/kylebueche" target="_blank">
        <div class="icon-button col center align-center">
            <i class="fa-brands fa-github"></i>
            <p class="bold noselect">Github</p>
        </div>
    </a>
    <a class="icon-link" href="https://www.youtube.com/@NachoCafe" target="_blank">
        <div class="icon-button col center align-center">
            <i class="fa-brands fa-youtube"></i>
            <p class="bold noselect">Youtube</p>
        </div>
    </a>
    <a class="icon-link" href="https://www.linkedin.com/in/kyle-bueche-6199b41b5" target="_blank">
        <div class="icon-button col center align-center">
            <i class="fa-brands fa-linkedin"></i>
            <p class="bold noselect">Linkedin</p>
        </div>
    </a>
    <a class="icon-link" href="https://ko-fi.com/nachocafe" target="_blank">
        <div class="icon-button col center align-center">
            <i class="fa-solid fa-mug-saucer"></i>
            <p class="bold noselect">Ko-fi</p>
        </div>
    </a>
</div>
