<div>
  <div>
    <div class="row">
      <div class="col">
        <img width="300px" src="{{ site.data.bio.basics.picture }}" class="">
      </div>
      <div class="col">
        <h1>{{ site.data.bio.basics.name }}</h1>
        <p>{{ site.data.bio.basics.label }}</p>
        <p>{{ site.data.bio.basics.summary }}</p>
        <hr>
        <p>
          Interests:
          {% for interest in site.data.bio.interests %}
          {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </p>
        <hr>
        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
