{%- assign url = '/' | prepend: site.baseurl | prepend: site.url -%}
{%- assign title = site.title -%}
{%- assign description = site.description -%}

{%- if page.url != '/' -%}
  {%- if page.url -%}
    {%- assign url = page.url | prepend: site.baseurl | prepend: site.url -%}
  {%- endif -%}
  {%- if page.title -%}
    {%- assign title = page.title | append: ' | ' | append: site.title  -%}
  {%- endif -%}
  {%- if page.description -%}
    {%- assign description = page.description -%}
  {%- endif -%}
{%- endif -%}

<!doctype html>
<html lang="en">
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-12YN9JFYF5"></script>
    <script src="{{ site.baseurl }}/js/my-gtag.js"></script>
    
    <!-- Metadata here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ title | xml_escape }}">
    <meta name="description" content="{{ description | xml_escape }}">
    <meta name="image" content="{{ site.data.bio.basics.picture }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title | xml_escape }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title | xml_escape }}">
    <meta property="og:description" content="{{ description | xml_escape }}">
    <meta property="og:image" content="{{ site.data.bio.basics.picture }}">

    <!-- Title and Icon -->
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

    <!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/xp.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css">
    
    <!-- Custom scripts here -->
    {% if page.title == "Home" %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/window.js"></script>
    {% endif $}
  </head>
  <body>
  {{ content }}
  </body>
</html>
